# Build folders
**/bin/
**/obj/
**/out/

# User-specific files
*.swp
*.user
*.suo
*.tmp
*.log

# VS / Rider / build system
.vs/
.idea/
.vscode/
*.csproj.user

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.*

# OS files
*.DS_Store
Thumbs.db

# Test files or local settings
appsettings.json
appsettings.Development.json
**/appsettings.json

# Ignore all env files in any folder
.env
**/.env