services:
    quizuplearn-api:
        image: mdpz04/qul-api:latest
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "8080:8080"
        env_file:
            - .env
